@tailwind base;
@tailwind components;
@tailwind utilities;


.add-invoice-btn {
    background-color: #38AE29;
    color: #fff;
    border: 1px solid #fff;
}

.add-invoice-btn:hover {
    background-color: #fff;
    color: #38AE29;
    border: 1px solid #38AE29;
}

input, textarea {
    padding: 0 5px;
}

/* Sidebar.css */

.sidebar {
    background-color: #38ae29;
    color: white;
    width: 64px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: width 0.3s ease-in-out;
}

.sidebar.closed {
    width: 12px;
}

.toggle-btn {
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

li.font-bold {
    font-weight: bold;
}

.remove-btn {
    background-color: #FF0000;
    padding: 5px 5px;
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 8px;
}

.add-item-btn {
    background-color: #38AE29;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 15px;
}

/* TableWithHeader.css */
.table-container {
    width: 100%;
}

.custom-table {
    width: 96%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 20px 2% 0 2%;
}

.header-cell {
    /*background-color: #fff;*/
    color: #000;
    padding: 6px;
    text-align: left;
    font-size: 20px;
}

.data-cell {
    border: 1px solid #ccc;
    padding: 6px;
}

.preview-sticker {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 10px;
}

.space-out {
    height: 306px;
    background-color: #38AE29;
}

.pdf-image {
    width: 100%;
    height: 520px;
}

.banner-image {
    height: 250px;
    width: 100%;
}

.page-head {
    background-color: #288068;
    width: 100%;
    height: 95px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.pdf-logo-wrapper {
    display: flex;
    justify-content: flex-end;
}

.pdf-logo {
    width: 100px;
    height: 70px;
}

.pdf-banner-text {
    color: #fff;
    font-weight: 700;
    margin-top: -5px;
    font-size: 13px;
}

.page-head-spacer {
    background-color: #288068;
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.sub-page-head {
    background-color: #A4A09F;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

.sub-page-head .sub-page-text {
    color: #fff;
    font-size: 16px;
}

.cover-bottom-content {
    background-color: #288068;
}

.cover-bottom-header {
    background-color: #38ae29;
}

.resources-table,
.responsibilities-table {
    width: 100%;
    margin-top: 5px;
}

.resources-table td:first-child,
.resources-table th {
    background-color: #329f81;
    color: #fff;
}

.resources-table,
.resources-table th,
.resources-table td,
.responsibilities-table th,
.responsibilities-table td{
    border: 1px solid #ccc;
}

.resources-table td,
.cost-table td {
    font-size: 12px;
    padding: 1px 2px 5px;
    text-align: center;
}

.resources-table td:nth-child(2),
.cost-table td:nth-child(2) {
    font-size: 13px;
    padding: 5px;
    text-align: left;
}

.resources-table th,
.cost-table th{
    font-size: 13px;
    margin-bottom: 10px;
}

.cost-table {
    width: 100%;
    margin-top: 10px;
}


.cost-table,
.cost-table th,
.cost-table td {
    border: 1px solid #ccc;
}

.cost-table th {
    background-color: #288068;
    color: #fff;
    font-size: 12px;
}

.cost-table td {
    background-color: #EBEBEB;
}

.cost-table td:nth-child(1),
.cost-table td:nth-child(2) {
    background-color: #DCDDDF;
    color: #000;
}

.cost-table td:last-child {
    font-weight: 700;
}

.page-content {
    padding-left: 30px;
    padding-right: 30px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-right: 2px solid #ccc; /* Set a transparent border initially */
    position: relative;
    border-left: 2px solid #288068;
    border-bottom: 2px solid #288068;
    border-top: 2px solid #288068;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsibilities-table th {
    padding-bottom: 8px;
    background-color: #288068;
    color: #fff;
    font-size: 12px;
}

.responsibilities-table td {
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}

.terms td:first-child {
    background: #288068;
    color: #fff;
}

.bottom-card-images {
    max-width: 200px;
    max-height: 130px;
    margin-right: 20px;
}

.report-page-head {
    border: 1px solid #000;
}

.left-section {
    border: 1px solid #000;
    width: 100%;
}

.right-section {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    width: 100%;
}

.section-table {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.section-table td {
    font-size: 14px;
}

.section-table td:first-child {
    text-align: right;
}

.section-table p {
    margin-left: 10px;
}

.asset-details-table {
    width: 100%;
}

.asset-details-table th {
    background-color: #D8D8D8;
    padding-bottom: 10px;
    font-size: 14px;
}

.asset-details-table td {
    padding-left: 5px;
    font-size: 14px;
    padding-bottom: 10px;
}

.asset-details-table th,
.asset-details-table td {
    border: 1px solid #000;
}

.dimension-table-cover {
    border: 1px solid #000;
    width: 100%;
}

.dimension-table-cover table {
    width: 100%;
}

.dimension-table-cover tr {
    border-bottom: 1px solid #000;
    width: 100%;
}

.dimension-table-cover tr:last-child {
    border-bottom: none;
}

.dimension-table-cover td:first-child {
    text-align: right;
    border-right: 1px solid #000;
}

.dimension-table-cover td {
    font-size: 14px;
}

.dimension-one {
    width: 31%;
    margin-right: 3%;
}

.dimension-body {
    width: 31%;
    margin-right: 3%;
}

.dimension-two {
    width: 31%;
}

.dimension-table-cover table p {
    margin-left: 4px;
    margin-right: 4px;
}

.visual-text {
    border: 1px solid #000;
    padding-left: 8px;
}